@model IEnumerable<Assignment1.Models.Climb>

@{
    ViewData["Title"] = "Climbing Routes";
}

<h1>Current Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Style)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gym)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gym.City)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClimbId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClimbId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClimbId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
